<!DOCTYPE html>

<html>
    <head>
        <meta charset='utf-8'>
        <title>插入列表测试</title>
        <!-- 引入vue.js -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    </head>
    <body>
        <div id='app'>

            <div class="list-group" v-for="item in search(keywords)">
                <div class="list-group-item">
                    <!--{{item.ctime | dataFormat}}-->
                    {{item.id}}
                </div>
                <div class="list-group-item">
                    <!--{{item.ctime | dataFormat}}-->
                    {{item.ctime | dataFormat}}
                </div>
                <div class="list-group-item">
                    <!--{{item.ctime | dataFormat}}-->
                    {{item.name}}
                </div>
            </div>

            <div class="list-group" v-for="item in newList0">
                <div class="list-group-item">
                    <!--{{item.ctime | dataFormat}}-->
                    {{item.id}}
                </div>
                <div class="list-group-item">
                    <!--{{item.ctime | dataFormat}}-->
                    {{item.ctime | dataFilter}}
                </div>
                <div class="list-group-item">
                    <!--{{item.ctime | dataFormat}}-->
                    {{item.name}}
                </div>
            </div>
            
            
        </div>
    </body>
    <script>

        // 定义全局过滤器
        // Vue.filter('过滤器名称',function(){})
        Vue.filter('dataFormat',function(datastr,pattern=''){
            let data = new Date(datastr)
            let year = data.getFullYear()
            let month = data.getMonth() + 1;
            let day = data.getDate()
            let hour = data.getHours()
            let minute = data.getMinutes()
            let second = data.getSeconds()
            // return year + '-' + month + '-' + day
            if(pattern.toLowerCase() === 'yyyy-mm-dd'){
                return `${year}-${month}-${day}`
            }else{
                return `${year}-${month}-${day} ${hour}:${minute}:${second}`
            }
            
        })
        // 实例化vue对象
        let vm = new Vue({
            // 绑定对象
            el:'#app',
            data:{
                id:'',
                name:'',
                keywords:'奔',
                list:[
                    {id:1,name:'奔驰',ctime:new Date()},
                    {id:2,name:'宝马',ctime:new Date()}
                ]
            },
            methods:{
                add(){ //添加方法
                    console.log("添加方法")
                    // 判断有没有输入
                    if(this.id=='' || this.name==''){
                        alert("输入不完整")
                        return
                    }
                    // 添加到list
                    this.list.push({id:this.id,name:this.name,ctime:new Date()})
                    // 恢复初始值
                    this.id = ''
                    this.name =''
                },
                del(id){
                    console.log("删除方法")
                     console.log(id)
                    // 在数组的some方法中，如果return true就会立即停止后续循环
                     /*this.list.some((item,i)=>{
                         if(item.id == id){
                             this.list.splice(i,1)
                             return true
                         }
                     })*/

                    let index = this.list.findIndex(item=>{
                        if(item.id == id){
                            return true
                        }
                    })
                    this.list.splice(index,1)

                },
                search(keywords){
                    //1.循环遍历，判断后push到新的数组中
                    //indexOf，正向搜索与value相等的值，没有则返回-1
                    var that = this
                    console.log(this.keywords)
                     let newList0 = []
                     this.list.forEach(item=>{
                         if(item.name.indexOf(keywords) != -1){
                             newList0.push(item)
                         }
                     })
                     this.newList0 = newList0
                    //2.filter函数直接返回新的数组
                     let newList = this.list.filter(item=>{
                        // if(item.name.indexOf(keywords) != -1){}
                        if(item.name.includes(keywords)){
                            console.log(item)
                            return true
                        }
                    })
                    //3.map方法并不适用于过滤，因为会对每个数组元素执行相应的函数并返回值，没有返回值依旧会用undefined填充位置
                    //some：存在使函数为true则返回true
                    //every 所有的true返回true

                    /*var newList = this.list.map(item=>{
                        if(item.name.includes(keywords)){                            
                            return item
                            }else{

                            }
                        })*/
                    return newList
             
                }
            },
            // 私有（局部）过滤器——过滤器有两个条件-【过滤器名称和处理函数】
            // 过滤器调用的原则为就近原则
            filters:{
                // 
                dataFilter:function(datastr,pattern=''){
                    let data = new Date(datastr)
                    let year = data.getFullYear()
                    let month = (data.getMonth() + 1).toString().padStart(2,'0')
                    let day = data.getDate().toString().padStart(2,'0')
                    let hour = data.getHours().toString().padStart(2,'0')
                    let minute = data.getMinutes().toString().padStart(2,'0')
                    let second = data.getSeconds().toString().padStart(2,'0')
                    // return year + '-' + month + '-' + day
                    if(pattern.toLowerCase() === 'yyyy-mm-dd'){
                        return `${year}-${month}-${day}`
                    }else{
                        return `${year}-${month}-${day} ${hour}:${minute}:${second}`
                    }
                }
            }
        })
    </script>
</html>